@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');

:root{
    font-size: 16px;
    --main-color: #21243d;
    --primary-color: #ff6464;
    --secondary-color: #00a8cc;
    --dark-blue: #142850;
}
*{
    font-family: 'Heebo', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4{
    color: var(--main-color);
}
button{
    width: 200px;
    height: 50px;
    border: none;
    background: var(--primary-color);
    font-size: 1.25rem;
    font-weight: 500;
    color: white;
}
.container{
    width: 860px;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header ul{
    display: flex;
    width: 240px;

    list-style: none;
    justify-content: space-between;

    font-size: 1.25rem;
    font-weight: 500;

}
header ul li a{
    text-decoration: none;
    color: black;
}
.content{
    display: flex;
    justify-content: space-between;
    margin-top: 148px;

    height: 300px;
    align-items: center;
}
.content .content-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}
.content .content-left h1{
    font-size: 1.75rem;
}
.content .content-right{
    display: flex;
    align-items: center;
}
.content .content-right img{
    filter:drop-shadow(-5px -13px 0px #edf7fa);
}
.content-2{
    display: flex;
    flex-direction: column;
    margin-top: 86px;

    height: 396px;
    border: solid 1px #21243d;
}
.content-veiw{
    display: flex;
    justify-content: space-between;
    width: 856px;
}
.p-1{
    font-size: 1.375rem;
    line-height: 60px;
}
.p-2{
    line-height: 23.5px;
    color: var(--secondary-color);
}
.content-posts{
    display: flex;
    justify-content: space-between;
    height: 295px;
}
.content-left-1{
    width: 374px;
}
.content-left-1 h1{
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 38.19px;
}
.content-right-1{
    width: 374px;
}
.content-year{
    display: flex;
    justify-content: space-between;

    width: 278px;
}
.content-year p{
    font-size: 1.125rem;
    line-height: 26.44px;
}